{% extends 'shared/base.html' %}
{% block content %}
<h1>Inventory Computer</h1>
{% if computer.id is not None %}
    <form action="{% url 'hrapp:computer' computer.id %}" method='POST'>
{% else %}
    <form action="{% url 'hrapp:computer_list' %}" method='POST'>
{% endif %}
    {% csrf_token %}
    <fieldset>
        <label for="make">Make: </label>
        <input id="make" type="text" name="make" value="{{ computer.make }}">
    </fieldset>
    <fieldset>
        <label for="make">Model: </label>
        <input id="model" type="text" name="model" value="{{ computer.model }}">
    </fieldset>
    <fieldset>
        <label for="purchase_date">Purchase Date: </label>
        <input id="purchase_date" type="date" name="purchase_date" value="{{ computer.purchase_date }}">
    </fieldset>

    {% if computer.id is not None %}
        <input type="hidden" name="actual_method" value="PUT">
        <input type="submit" value="Update" />
    {% else %}
        <input type="submit" value="Create" />
    {% endif %}

</form>
{% endblock %}