{% extends 'shared/base.html' %} {% block content %}
<h1>Past Training Programs</h1>

<ol class="past_programs">
  {% for program in programs %}
  <li class="past_program">
    <h2>{{ program.title }}</h2>
    <div>
      {% if program.employees %} Employees Attended:
      <ol>
        {% for employee in program.employees %}
        <li>{{ employee.first_name }} {{ employee.last_name }}</li>
        {% endfor %}
      </ol>
      {% else %}
      <h4>no attendees</h4>
      {% endif %}
    </div>
  </li>
  {% endfor %}
</ol>
{% endblock content %}
