{% extends 'shared/base.html' %} {% block content %}
<h1>Training Programs</h1>
{% if request.user.is_superuser %}
<a href="{% url 'hrapp:program_form' %}">Create New Program</a>
{% endif %}
<a href="{% url 'hrapp:past_program_list' %}">Past Programs</a>

<ol class="programs">
  {% for program in programs %}
  <li class="program">
    <a
      class="program__title"
      href="{% url 'hrapp:program_details' program.id %}"
    >
      {{ program.title }}
    </a>
  </li>
  {% endfor %}
</ol>
{% endblock content %}
