{% extends 'shared/base.html' %} {% block content %}

<h1>Employees</h1>
{% if request.user.is_superuser %}
<a href="{% url 'hrapp:employees_form' %}">Create New Employee</a>
{% endif %}
<ol class="list_group">
  {% for employee in employees %}
  <li class="list-group-item">
    <a href="{% url 'hrapp:employee' employee.id %}">
      {{ employee.first_name }} {{ employee.last_name }}</a
    >
    <p>Department:&nbsp;{{ employee.department.name }}</p>
  </li>
  {% endfor %}
</ol>
{% endblock content %}
