{% extends 'shared/base.html' %} {% block content %}

<h1>Edit Employee: </h1>

<form action="{% url 'hrapp:employee' employee.id %}" method="post">

  <form action="{% url 'hrapp:program_list' %}" method="post">
 {% csrf_token %}
    <fieldset>
      <label for="name">Name: </label>
      <input id="name" type="text" name="name" value="{{ employee.name }}" />
    </fieldset>
  
    <input type="hidden" name="actual_method" value="PUT" />
    <input type="submit" value="Update" />

    <input type="submit" value="Create" />

  </form>


</form>